/* Estilos generales para todas las páginas */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #bfbfbd; 
    min-height: 100vh; 
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #ee272c; 
    color: #fff;
    padding: 40px 0; /* Aumentar el padding para hacer el header un poco más grande */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header .logo {
    position: absolute;
    left: 20px; /* Ajusta el margen izquierdo según sea necesario */
    margin-right: 10px; /* Agrega un margen derecho para separar la foto del header */
    top: 50%;
    transform: translateY(-50%);
    
}

header .logo img {
    width: 50px; 
    height: 70px; 
    cursor: pointer;
    border-radius: 10px;
}

header nav {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 20px;
}

/* Estilos de los botones del menú nav */
header nav ul li a {
    display: block;
    padding: 10px 15px; /* Ajustar el padding para hacer los botones más grandes */
    text-decoration: none;
    color: #fff;
    background-color: #002538; /* Color de fondo */
    border: 1px solid #00254d; /* Borde */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave al cambiar de color de fondo */
}

header nav ul li a:hover {
    background-color: #000000; /* Cambiar el color de fondo al pasar el ratón */
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 120px); /* Ajuste del contenido principal */
    padding-top: 0; 
   
}

footer {
    background-color: #ff0000; 
    color: #fff;
    text-align: right;
    padding: 20px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
}

a {
    text-decoration: none;
    color: black;
}

.image-container {
    width: 40%;
    height: 50%; 
    margin-bottom: 240px; 
}

.image-container img {
    max-width: 100%; 
    height: auto; 
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* Margen superior para separar la tabla del contenido anterior */
    border: 1px solid #080808; /* Borde de la tabla */
    background-color: #8b8b8b;
}

table th, table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd; /* Borde inferior de celda */
    border-right: 1px solid #ddd; /* Borde derecho de celda */
}

table th {
    background-color: #002538; /* Color de fondo del encabezado de la tabla */
    color: #fff; /* Color del texto en el encabezado de la tabla */
    border-right: 1px solid #ddd; /* Borde derecho del encabezado de la tabla */
}

/* Estilos para filas impares */
table tbody tr:nth-child(odd) {
    background-color: #686060; /* Color de fondo para filas impares */
}

/* Estilos para los botones dentro de las celdas de la tabla */
table button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #002538; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none;
    border-radius: 3px;
}

/* Estilos para los botones al pasar el ratón */
table button:hover {
    background-color: #0056b3; /* Color de fondo del botón al pasar el ratón */
}
